body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    background-color: var(--background);

}

.scroll-box {
    height: 300px;
    overflow: hidden;
    transition: overflow 0.3s;
}

.scroll-box:hover,
.scroll-box:focus-within {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #b6b5b5;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


:root {
    --background-color: rgb(20, 14, 14);
    --background: rgb(29, 28, 28);
}

/*nav bar styles*/
.nav-bar {
    background-color: var(--background-color);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: yellowgreen;
}

.brand {
    color: white;
}

.brand:hover {
    color: yellowgreen;
}



/*movie page styles*/

.poster {
    width: auto;
    height: auto;
    object-fit: cover;
    border: 2px solid var(--background-color);
    transition: all ease-in-out 0.3s;
}

.poster img {
    width: 100%;
    height: 100%;
}

.poster:hover{
    filter: brightness(110%);
    transform: scale(1.1);
}

.element{
    transition: all ease-in-out 0.3s;
}

.element:hover{
    transform: scale(1.09);
}

/*home page styles*/

.slideshow-container {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: black; /* Background color for better contrast */
    overflow: hidden;
}

.image-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.image-slide.fade-in {
    opacity: 1;
}

.dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot:hover {
    background-color: beige;
}

.dot.active {
    background-color: rgba(255, 255, 255, 1);
}

.all{
    background-color: #b4b2b22a;
}

@media screen and (max-width: 700px) {
    .movie-info {
        display: flex;
        flex-direction: column;
    }
}